body {
    font-family: sans-serif;
}
header {
 background-color: lightblue;
 color: black;
}
h1 {
 background-color: rgb(218, 174, 243);
 color: rebeccapurple;
 padding: 20px;
 margin: 20px;
 text-align: center;
 border-radius: 100px
}
footer p {
 background-color: rgb(177, 150, 199);
 color: rgb(29, 29, 65);
}
nav {
 margin: 20px;
 padding: 10px;
 border: 2px solid lightseagreen;
}
nav p {
 margin: 60px;
 font-size: 10px;
 text-decoration: none;
 color: rgb(219, 153, 169);
}
